<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container" *ngIf="info.token || verifauth.verif==true ;">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#" routerLink="chat"><i class="fa fa-commenting-o" aria-hidden="true"></i>
            Chat Now!</a></li>
        <li><a href="#"><i class="fa fa-dollar"></i> Appointments</a></li>

        <li><a routerLink="checkout"><i class="fa fa-user-o"></i> Upgrade premium</a></li>
        <li> <a routerLink="FournitureAdOwned"><i class="fa fa-user-o"></i> My Fourniture Ads</a></li>
        <li> <a routerLink="adOwned"><i class="fa fa-user-o"></i> My Ads</a></li>
        <li><a routerLink="user"><i class="fa fa-user-o"></i> My Account</a></li>
        <li><a (click)="logout()"><i class="fa fa-user-o"></i> Logout</a></li>
      </ul>
    </div>

    <div class="container" *ngIf="!info.token && verifauth.verif==false">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a (click)="onCreate1()"><i class="fa fa-dollar"></i> Signup</a></li>
        <li><a (click)="onCreate()"><i class="fa fa-user-o"></i> Signin</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="../../../assets/img/logo%20dar.png" style="height: 100px; width: 270px;" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        <!-- SEARCH BAR -->
        <div class="col-md-6" style="margin-top: 10px">
          <div class="header-search">
            <form>


              <select id="inputState" name="typead" ngModel #typead="ngModel" class="input-select col-1">
                <option *ngFor="let key of keys" [value]="key">{{symbol[key]}}</option>
              </select>
              <select id="inputState" name="type" ngModel #type="ngModel" class="input-select col-1" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px" >
                <option *ngFor="let key of keysBat" [value]="key">{{symbolsBat[key]}}</option>
              </select>

              <input id="inputState"placeholder="DT" min="0" name="price" type="number" ngModel #price="ngModel"  class="input-select col-2 " style="border-bottom-left-radius: 0px;border-top-left-radius: 0px"  >
              <input id="inputState"placeholder="n°rooms"  min="0" name="rooms" type="number" ngModel #rooms="ngModel"  class="input-select col-2 " style="border-bottom-left-radius: 0px;border-top-left-radius: 0px"  >

<!--
              <input style="width: 13%"  name="city"  ngModel #city="ngModel" class="input" placeholder="Search here">
-->
              <select id="inputState" name="city" ngModel #city="ngModel" class="input-select col-2" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px" >
                <option *ngFor="let key of cities">{{key}}</option>
              </select>
<!--              <span>  <i  style="font-size:18px;color:white;font-weight: 400;padding-right: 3px" class="fa fa-sort-desc" aria-hidden="true"></i></span>-->

<!--
<button style="background-color: #D10024;border-right-color:white;border-radius:  0px;height:6vh;border-right-style: solid" class="btn col-1"> <i  style="font-size:18px;color:white;font-weight: 400" class="fa fa-sort-desc" aria-hidden="true"></i></button>
-->
              <button class="search-btn" (click)="searchbycriteria(typead.value,type.value,price.value,rooms.value,city.value)">
                <span (click)="redirectAdSearchKey()"style=";border-right-color:white;border-right-style: solid;">  <i  style="font-size:17px;color:white;font-weight: 700;padding-right: 8px" class="fa fa-sort-desc" aria-hidden="true"></i></span>
                Search</button>
            </form>
          </div>
        </div>
        <!-- /SEARCH BAR -->

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix" style="margin-top: 10px">
          <div class="header-ctn">
            <!-- Wishlist -->


            <div>
              <a href="#" routerLink="/getfav">
                <i class="fa fa-heart-o"></i>
                <span>Your Favorites</span>
                <div class="qty">{{Adservice.countfav}}</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                <i class="fa fa-shopping-cart"></i>
                <span>Your Cart</span>
                <div class="qty" *ngIf="cartData">
                  Cart Data
                  {{cartData.fournitureAds.length}}
                </div>
              </a>
              <div class="cart-dropdown" *ngIf="cartData">
                <div class="cart-list">
                  <div *ngFor="let fa of cartData.fournitureAds" class="product-widget">
                
                    <div class="product-img">
                      <img [src]="getFilePath(fa)" alt="" width="20px">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{fa.nameFa}}                
                        </a></h3>
                      <h4 class="product-price"><span class="qty">                       
                          x
                        </span> {{fa.price}}                   
                      </h4>
                    </div>
                    <button class="delete">
                 <i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>
                    {{cartData.fournitureAds.length}} Item(s)
                    selected
                  </small>
                  <h5 [innerHTML]="getTotalCartValue()">        
                  </h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">View Cart</a>
                  <a routerLink="/faCheckout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
          <!-- /Cart -->

          <!-- Menu Toogle -->
          <div class="menu-toggle">
            <mat-button-toggle #toggleBtn checked>
              <i class="fa fa-bars"></i>
              <span>Menu</span>
            </mat-button-toggle>
          </div>
          <!-- /Menu Toogle -->
        </div>
      </div>
      <!-- /ACCOUNT -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav" [class.active]="toggleBtn.checked">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a routerLink="/">Home</a></li>
        <li><a routerLink="sell">Buy a House</a></li>
        <li><a href="#" routerLink="rent">Rent a House</a></li>
        <li><a href="/fournitureAd">Fourniture Ads</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Services</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="offers">our offers</a>
            <a class="dropdown-item" routerLink="statistics">Statistics</a>
          </div>
        </li>
        <li class="dropdown" *ngIf="authority==='ADMIN' || verifauth.verifrole===true">
          <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Dashboard</a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="managuser">User Management</a>
            <a class="dropdown-item" routerLink="managad" href="#">Fourniture Ad Management</a>
            <a class="dropdown-item" routerLink="managad" href="#">Ad Management</a>
            <a class="dropdown-item" routerLink="subscription">Subscriptions management</a>
            <a class="dropdown-item" routerLink="sordmanag">Subscription orders management</a>
            <a class="dropdown-item" routerLink="managclaim">Claims management</a>
          </div>
        </li>
        <li *ngIf="authority==='ADMIN' || verifauth.verifrole===true">
          <a href="/fournitureStatistics">Statistics</a>
        </li>
        <li style="margin-left: 10%">
          <button *ngIf="info.username" type="button" class="btn btn-lg"
            style="background-color:#D10024;color:#FFF;font-weight: 615;
    border: none;
    border-radius: 40px 40px 40px 40px;margin-top:-5px;font-size:18px;height: 30px; letter-spacing:2px;line-height: 1em;" (click)="RedirectAddFurniture() "><span style="">Post
              furniture Ad</span></button>
        <li style="margin-left: 1%">
          <button type="button" class="btn btn-lg"
            style="background-color:#D10024;color:#FFF;font-weight: 615;
    border: none;
    border-radius: 40px 40px 40px 40px;margin-top:-5px;font-size:18px;height: 30px; letter-spacing:2px;line-height: 1em;" (click)="RedirectAddProduct()"><span
              style="">Post Ad</span></button>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->