<div class="container bootstrap snippets bootdey">
  <div class="col-md-12">
    <div class="profile-container">
      <div class="profile-header row">
        <div class="col-md-4 col-sm-12 text-center">
            <div *ngFor="let usimg of u.imguser">
              <div *ngFor="let f of retrievedImage; let last = last">
                <div *ngIf="f[1]==usimg.id" >
                  <img src="{{f[0]}}" alt="{{u.idUser}}" width="200px"  style="cursor:pointer;"
                       class="header-avatar" >
                </div>
              </div>
            </div>

        </div>
        <div class="col-md-8 col-sm-12 profile-info">
          <!--first and last name-->
          <div class="header-fullname">
            <b>{{u.firstName}} {{u.lastName}}</b>
            <a>
              <mat-icon style="color: #a71d2a" (click)="onEdit(u.idUser)" class="alert-danger" >create</mat-icon>
            </a>

          </div>

          <!--/first and last name-->
          <!--age-->
          <div class="header-fullname">Age: {{u.age}}</div>
          <!--/age-->
          <!--Email-->
          <div class="header-fullname">Email: {{u.email}}</div>
          <!--/Email-->
          <!--phone-->
          <div class="header-fullname">Phone number: {{u.phoneNumber}}</div>
          <!--/phone-->
          <div class="header-fullname">CIN: {{u.cin}}</div>
          <!--/cin-->
          <!--cin-->
          <div class="header-fullname">Gender: {{u.gender}}</div>
          <!--/cin-->
          <a href="#" class="btn btn-palegreen btn-sm  btn-follow">
            <i class="fa fa-check"></i>
            Following
          </a>

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 profile-stats">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
              <div class="stats-value pink">284</div>
              <div class="stats-title">FOLLOWING</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
              <div class="stats-value pink">803</div>
              <div class="stats-title">FOLLOWERS</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 stats-col">
              <div class="stats-value pink">1207</div>
              <div class="stats-title">POSTS</div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
              <i class="glyphicon glyphicon-map-marker"></i> Boston
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
              Rate: <strong>$250</strong>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 inlinestats-col">
              Age: <strong>24</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
