<div style="width: 100%; background-color: #4e555b;">
  <button mat-raised-button (click)="onCreate()" style="margin-left: 1%" color="accent">
    <mat-icon>add</mat-icon> Create
  </button>
  <mat-form-field color="accent">
    <input  matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


  <!-- Position Column -->

  <ng-container matColumnDef="idUser">
    <th mat-header-cell *matHeaderCellDef> idUser </th>
    <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> firstName </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> lastName </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef> username </th>
    <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
  </ng-container>



  <ng-container matColumnDef="cin">
    <th mat-header-cell *matHeaderCellDef> cin </th>
    <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef> phoneNumber </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>


  <ng-container matColumnDef="isConnected">
    <th mat-header-cell *matHeaderCellDef> isConnected </th>
    <td mat-cell *matCellDef="let element"> {{element.connected}} </td>
  </ng-container>

  <ng-container  matColumnDef="email">
    <th mat-header-cell  *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="gender">
    <th mat-header-cell *matHeaderCellDef> gender </th>
    <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef> creationDate </th>
    <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
  </ng-container>


  <ng-container matColumnDef="userState">
    <th mat-header-cell *matHeaderCellDef> userState </th>
    <td mat-cell *matCellDef="let element"> {{element.userState}} </td>
  </ng-container>

  <ng-container matColumnDef="banDate">
    <th mat-header-cell *matHeaderCellDef> banDate </th>
    <td mat-cell *matCellDef="let element"> {{element.banDate}} </td>
  </ng-container>

  <ng-container matColumnDef="banNbr">
    <th mat-header-cell *matHeaderCellDef> banNbr</th>
    <td mat-cell *matCellDef="let element"> {{element.banNbr}} </td>
  </ng-container>
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef > Edit </th>
    <td mat-cell *matCellDef="let element"> <button mat-button (click)="onEdit()"><mat-icon>create</mat-icon></button> </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef > Delete </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="deleteUser(element.idUser)"  mat-button>
        <mat-icon  color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
