<div style="width: 100%; background-color: rgba(66,66,66,1);">
  <mat-form-field color="accent">
    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>
</div>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Sybscription type (Name) Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.subscriptiontype}} </td>
  </ng-container>

  <!-- Dascription Column -->
  <ng-container matColumnDef="Description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  Description </th>
    <td mat-cell *matCellDef="let element"> {{element.descriptionOffer}} </td>
  </ng-container>

  <!-- Duration of the offer Column -->
  <ng-container matColumnDef="Duration of the offer">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration of the offer </th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} day </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price}} DT </td>
  </ng-container>

  <!-- subscribe Column -->
  <ng-container matColumnDef="subscribe">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> subscribe </th>
    <td mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="pay(element.subscriptiontype)">
        <mat-icon>plus_one</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!-- Row shown when there is no matching data. -->
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>
</table>
<mat-paginator [length]="100"
               [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
