
*{margin: 0;
  box-sizing: border-box;}
.img{font-family: 'Roboto', sans-serif !important;background-size: cover;background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5)), url("../../../assets/img/add ad img.jpg")}
.img p {color:#c6c8ca;text-align: center;padding-top: 50px;font-weight: 500;font-size: 30px}
section{ }
.flex{display: flex;align-items: center;
  justify-content: center;padding-top: 10px}
.textarea{padding-top: 20px}
.btn{color: #c6c8ca;font-weight: 500;
  display: inline-block;  /*by using inline block we can use sme padding margin*/
  padding: 10px 40px;text-decoration: none; /*text-decoration hide the line of a*/z-index: 999999;
  border-radius: 200px;border:2px solid #c23616;margin-top: 20px;transition: background-color 0.5s,border 0.2s, color 0.2s/* color change slowly by transition*/
}

.btn-ghost{color:  #c23616;
  margin-top: 100px!important;margin-bottom: 100px;
}

.btn-ghost:hover,.btn-ghost:active{color: #dcdde1;background-color:#2f3640;border:3px solid #353b48;

}
form .btn{ margin-left: 40%}
.contour{ margin-left:25%;border: 4px dashed #fff;height: 50px;width: 50% !important;margin-top: 10px}

form .file{
  width: 100%;
  height: 50%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
form .input{
  position: absolute;
  top:700px;left: -100px;

  width:100% ;
  height: 60%;
  outline: none;
  opacity: 0;
}
