.mat-grid-list{
  background-color: transparent;
  background-image: url("../../../assets/img/house1.jpg") ;

}
.id{border: #a71d2a}
.pass{
  text-decoration-color: #15161D;
}
.mat-dialog-container{
  padding: 0px;
}

