.espace {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  padding-top: 24px;
  padding-bottom: 24px;width: 85%;
  align-items: center; // cross axis
  justify-content: center; // main axis

}
//*{font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
//font-size: 14px;
//}
.flex1{
  display: flex; width: 100%; -webkit-box-pack: justify;  flex-wrap: wrap;


}/*
//div{ padding-right: 3px}
@import url('https://fonts.googleapis.com/css?family=Roboto');
!*
green: #67b26f
blue: #4ca2cd
mid: #5aaa9d
*!
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: Roboto;
  padding: 50px;
  background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
  height: 100vh;

  display: flex;
  align-items: center; // cross axis
  justify-content: center; // main axis

}

.pizza {
  max-width: 800px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 30px 80px 10px rgba(0,0,0,.2);

  display: flex;
  align-items: stretch;

}

.pizza__hero{
  flex: 0 0 45%;
}

.pizza__img {
  width: 500px;
  display: block;

}

.pizza__content {
  flex: 1;
  background: white;
  Padding: 35px 30px;

  display: flex;
  flex-direction: column;
}

.pizza__price{
  flex: 0 1 50px;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  writing-mode: vertical-rl;
  color: white;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.pizza__title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.pizza__heading {
  font-size: 20px;
  margin-right: auto;
}

.pizza__tag {
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  padding: 2px 7px;
  border-radius: 100px;
  margin-left: 7px;

}

.pizza__tag--1 {background-color: #67b26f;}
.pizza__tag--2 {background-color: #4ca2cd;}

.pizza__description {
  font-size: 14px;
}

.pizza__details {
  display: flex;
  margin-top: auto;
}

.pizza__detail {
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;

  display: flex;
  align-items: center;
}

.emoji {
  fontsize: 20px;
  margin-right: 3px;
}
*/
h3{ font-size: 20px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;}
.coulleur{flex: 0 1 50px;
  background: linear-gradient(to bottom, #67b26f, #4ca2cd);
  writing-mode: horizontal-tb;
  color: white;
  font-size: 18px;

  display: flex;
  align-items: center;
  justify-content: center;}
.carac{
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 20px;margin-left: 20;
  font-weight: 700;

  display: flex;
  align-items: center;
}

.btn-ghost{color:#D10024;
  margin-top: 20px!important;margin-bottom: 20px;
}
.btn-ghost:hover{
  background-color:#D10024;color:#FFF
}
