<div *ngIf="isLoggedIn; else loggedOut">

</div>
<ng-template #loggedOut>
  <form  #f="ngForm"   (ngSubmit)="updatepass(f)" novalidate>
    <mat-grid-list cols="1" rowHeight="400px">
      <mat-grid-tile>
        <div class="example-container">
          <mat-form-field appearance="fill" class="width-50 col-25" >
            <mat-label class="mat"  style="color: #a71d2a">Token</mat-label>
            <input matInput  name="token" size="150" [(ngModel)]="form.token" ngModel #token="ngModel" required>

            <button mat-icon-button matSuffix >
              <mat-icon> person_pin</mat-icon>
            </button>
          </mat-form-field>


          <br>

          <mat-form-field appearance="fill" class=" width-50 col-20" >
            <mat-label class="mat" style="color: #a71d2a" >Enter new password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" name="password"  [(ngModel)]="form.password" ngModel #password="ngModel"required>
            <button mat-icon-button  matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

          <br>
          <button mat-button class="b"    style="background-color:#424242 "   >Save</button>
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</ng-template>
