<form #f="ngForm"  (ngSubmit)="onsubmit(f)">
  <mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
      <div class="example-container">
        <br>

        <mat-form-field appearance="fill" class="width-50 col-10">
          <mat-label>user</mat-label>
          <input matInput type="number" name="user" [(ngModel)]="subscriptionOrder.us.idUser" ngModel #user="ngModel" required>
        </mat-form-field>

        <label id="example-radio-group-label" class="ml-3">State: </label>
        <br>

        <mat-radio-group [(ngModel)]="enbl" aria-label="Select an option" class="ml-3" name="enable" #enable="ngModel" ngModel>
          <mat-radio-button class="example-radio-button ml-2" value="true" required>true</mat-radio-button>
          <br>
          <mat-radio-button class="example-radio-button ml-4" value="false" required >false</mat-radio-button>
        </mat-radio-group>
        <br>
        <br>

        <label id="example-radio-group-label" class="ml-3">Subscription Type: </label>
        <br>

        <mat-radio-group [(ngModel)]="subscriptionOrder.subscription.subscriptiontype" aria-label="Select an option" class="ml-3" name="subscriptiontype" #subscriptiontype="ngModel"  ngModel>
          <mat-radio-button class="example-radio-button ml-2" value="assurance" required>assurance</mat-radio-button>
          <br>
          <mat-radio-button class="example-radio-button ml-4" value="premium" required>premium</mat-radio-button>
          <br>
          <mat-radio-button class="example-radio-button ml-4" value="surveillance_de_maison" required>surveillance de maison</mat-radio-button>
        </mat-radio-group>
        <br>

        <button mat-stroked-button class="ml-3" style="background-color: #b0bec5" [disabled]="f.invalid">submit</button>
        <button mat-stroked-button type="reset" class="ml-3" style="background-color: #b0bec5" >reset</button>
        <button type="button" type="reset" mat-stroked-button class="ml-3" style="background-color: #b0bec5" (click)="onclose()" >cancel</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
