


.btn{color:#D10024;font-weight: 500;
  display: inline-block;  /*by using inline block we can use sme padding margin*/
  padding: 10px 20px;text-decoration: none; /*text-decoration hide the line of a*/z-index: 999999;
  border-radius: 200px;border:2px solid #c23616;transition: background-color 0.5s,border 0.2s, color 0.2s/* color change slowly by transition*/
}
.btn-ghost{color:#D10024;
  margin-top: 20px!important;margin-bottom: 20px;
}
.btn-ghost:hover{
  background-color:#D10024;color:#FFF
}
.own {border-radius: 30px;border-top-left-radius: 10px;margin:5px 20px;  background:#3498db;color: #ecf0f1;
 float: left;width:80%;margin-left: 6px;padding: 3px 20px;font-size: 8px;

&::before {
  content: ' ';
  position: absolute;
  border-bottom: 15px solid #3498db;
  left: 138px;
  border-left: 19px solid transparent;
}}
.receive{ border-radius: 30px;background: #95a5a6;border-top-right-radius: 10px;;color: #eff1f1;width:80%;margin:3px 20px;
  float: right;padding: 3px 25px;font-size: 8px;
  &::before {
    content: ' ';
    position: absolute;
    border-top: 15px solid #95a5a6;
    right:150px !important;
    border-right: 19px solid transparent;
  }
}
.username{
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
 color: rgba(44, 62, 80, 0.89)
}
.date{margin-top: 20px;font-weight: 300}
.receiver .date{color: rgba(236, 240, 241, 0.8)
}
.own .date{color: rgba(239, 241, 241, 0.69);}
.receiver{flex-direction: row-reverse;}
.owner{padding-right: 10%}
