<div class="card mb-3" style="padding:60px 10px;margin: 20px 30px!important;margin-bottom: 100px!important;">
  <div class="card-body" >
    <div style="margin-left: 250px">
    <div class="input-group mb-3">
      <input class="form-control col-4" type="text" style="margin-top: 20px ; height: 48px" placeholder="message" [(ngModel)]="mtxt" >
      <div class="input-group-append">
        <button class="btn btn-ghost" (click)="sendMessage()">Send</button>
      </div>
    </div>
    </div>
    <div class="content container" >
      <div class="overflow-auto" style="margin-bottom: 30px">
        <div  *ngFor="let msg of chatService.messages" [ngClass]="username==msg.name? 'own' : 'receive' ">
          <div class="username" style="margin-top: 10px;font-size: 15px">{{msg.name}}</div>
          <div style="margin-top: 9px;font-size: 12px!important;">{{msg.text}}</div>
        <div class="date"  style="margin-top: 10px">{{msg.date}}</div>
        </div></div>
    </div>

  </div>
</div>
