<div class="img">
  <p>POST AD</p>
  <br>
  <section style='min-height: 600px;'>
    <form style="color: #c6c8ca;">
      <div class="form-group ">

        <div class="row flex">
          <div class="col-4"><label for="exampleInputEmail1">Title of the ad</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email">
          </div>

          <div class="col-2"><label>Category</label>

            <select id="inputState" class="form-control">
              <option selected>ground</option>
              <option>house</option>
              <option>apartment</option>

            </select>
          </div>
        </div>
      </div>


      <div class="form-group">
        <div class="row flex">
          <div class="col-2"><label>Type</label>

            <select id="inputState" class="form-control">
              <option selected>RENT</option>
              <option>SELL</option>
            </select>
          </div>
          <div class="col-1"><label for="exampleInputPassword1">№ rooms</label>
            <input type="number" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="№">
          </div>
          <div class="col-1"><label for="exampleInputPassword1">№ bathrooms</label>
            <input type="number" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="№">
          </div>
          <div class="col-2"><label for="exampleInputEmail1">City</label>
            <input type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
      </div>
      <div class="form-group ">

        <div class="row flex">
          <div class="col-1"><label for="exampleInputPassword1">built area</label>
            <input type="number" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="m²">
          </div>
          <div class="col-1"><label for="exampleInputPassword1">Total area</label>
            <input type="number" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="m²">
          </div>
          <div class="col-2"><label for="exampleInputEmail1">Check-In</label>
            <input type="date" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="col-2"><label for="exampleInputEmail1">Check-Out</label>
            <input type="date" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        </div>
      </div>
      <div class="form-group ">

        <div class="row flex textarea" >
          <textarea class="form-control col-5 " id="exampleFormControlTextarea1" rows="3"
                    required id="message" placeholder="Description" name="message"></textarea>
        </div>
      </div>
      <div class="row file contour flex">
        <div><input type="file" class="input" multiple></div>
        <p class="file">Drag your files here or click in this area.</p></div>
      <div class="row flex"><button type="submit" class="btn btn-ghost"><span style="letter-spacing: 3px !important;">ADD</span></button></div>
    </form>
  </section>
</div>
